<a href="https://colab.research.google.com/github/mateus-abrantes/MLP-com-Keras/blob/main/MLP_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multilayer Peceptron com Keras aplicado na previsao de chuva na Australia

O objetivo deste exemplo é treinar um modelo supervisionado para prever se ira chover no outro dia em algun lugar da Australia, visto os dados obtidos dos ultimos 10 anos. Sendo que nestes dados apresentam as informações climaticas de quase todos os dias do ano, e a informação se choveu nesse dia, nessa aplicação queremos prever se choveu nesse dia, ira chover no outro dia.

## Referências 
* Kaggle, https://www.kaggle.com/shrutimechlearn/churn-modelling
* Super Data Science, https://www.superdatascience.com/machine-learning/

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Carregando os dados

In [107]:
# Importing the dataset
dataset = pd.read_csv('https://raw.githubusercontent.com/mateus-abrantes/MLP-com-Keras/main/weatherAUS.csv')
dataset

              Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0       2008-12-01   Albury     13.4  ...     21.8         No            No
1       2008-12-02   Albury      7.4  ...     24.3         No            No
2       2008-12-03   Albury     12.9  ...     23.2         No            No
3       2008-12-04   Albury      9.2  ...     26.5         No            No
4       2008-12-05   Albury     17.5  ...     29.7         No            No
...            ...      ...      ...  ...      ...        ...           ...
145455  2017-06-21    Uluru      2.8  ...     22.4         No            No
145456  2017-06-22    Uluru      3.6  ...     24.5         No            No
145457  2017-06-23    Uluru      5.4  ...     26.1         No            No
145458  2017-06-24    Uluru      7.8  ...     26.0         No            No
145459  2017-06-25    Uluru     14.9  ...     20.9         No           NaN

[145460 rows x 23 columns]

In [108]:
#tratando o dataset
#Removendo linhas em que nao existem dados
dataset = dataset.dropna().copy()
#separando o campo data

#Tratamento dos dados do tipo string para numerico
# gender = {'male': 1,'female': 2} 
# dados.sex = [gender[item] for item in dados.sex] 
dataset['Date']= pd.to_datetime(dataset['Date'],format='%Y-%m-%d')
dataset['day'] = dataset['Date'].dt.day
dataset['month'] = dataset['Date'].dt.month
dataset['year'] = dataset['Date'].dt.year
#Removendo campo Date
dataset = dataset.drop("Date", axis=1)
#Organizando colunas
cols = dataset.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]
dataset = dataset[cols] 
#Tratamento dos dados do tipo string para numerico
Location = {'Cobar':0, 'CoffsHarbour':1, 'Moree':2, 'NorfolkIsland':3, 'Sydney':4,'SydneyAirport':5, 'WaggaWagga':6, 'Williamtown':7, 'Canberra':8, 'Sale':9,'MelbourneAirport':10, 'Melbourne':11, 'Mildura':12, 'Portland':13, 'Watsonia':14,'Brisbane':15, 'Cairns':16, 'Townsville':17, 'MountGambier':18, 'Nuriootpa':19,'Woomera':20, 'PerthAirport':21, 'Perth':22, 'Hobart':23, 'AliceSprings':24,'Darwin':25}
dataset.Location = [Location[item] for item in dataset.Location] 
WindGustDir = {'SSW':0, 'S':1, 'NNE':2, 'WNW':3, 'N':4, 'SE':5, 'ENE':6, 'NE':7, 'E':8, 'SW':9, 'W':10,'WSW':11, 'NNW':12, 'ESE':13, 'SSE':14, 'NW':15} 
dataset.WindGustDir = [WindGustDir[item] for item in dataset.WindGustDir] 
WindDir9am = {'ENE':0, 'SSE':1, 'NNE':2, 'WNW':3, 'NW':4, 'N':5, 'S':6, 'SE':7, 'NE':8, 'W':9, 'SSW':10,'E':11, 'NNW':12, 'ESE':13, 'WSW':14, 'SW':15} 
dataset.WindDir9am = [WindDir9am[item] for item in dataset.WindDir9am] 
WindDir3pm = {'SW':0, 'SSE':1, 'NNW':2, 'WSW':3, 'WNW':4, 'S':5, 'ENE':6, 'N':7, 'SE':8, 'NNE':9,'NW':10, 'E':11, 'ESE':12, 'NE':13, 'SSW':14, 'W':15} 
dataset.WindDir3pm = [WindDir3pm[item] for item in dataset.WindDir3pm] 
RainToday = {'No':0, 'Yes':1} 
dataset.RainToday = [RainToday[item] for item in dataset.RainToday] 
RainTomorrow = {'No':0, 'Yes':1} 
dataset.RainTomorrow = [RainTomorrow[item] for item in dataset.RainTomorrow] 
dataset

        day  month  year  Location  ...  Temp9am  Temp3pm  RainToday  RainTomorrow
6049      1      1  2009         0  ...     26.6     33.4          0             0
6050      2      1  2009         0  ...     20.3     27.0          0             0
6052      4      1  2009         0  ...     28.7     34.9          0             0
6053      5      1  2009         0  ...     29.1     35.6          0             0
6054      6      1  2009         0  ...     33.6     37.6          0             0
...     ...    ...   ...       ...  ...      ...      ...        ...           ...
142298   20      6  2017        25  ...     24.5     32.3          0             0
142299   21      6  2017        25  ...     24.8     32.0          0             0
142300   22      6  2017        25  ...     24.8     32.1          0             0
142301   23      6  2017        25  ...     24.8     29.2          0             0
142302   24      6  2017        25  ...     25.4     31.0          0             0

[56420 rows x 25 columns]

In [128]:
X = dataset.iloc[:,0:24].values
y = dataset.iloc[:,24].values

print(X[0:6,:])

[[1.0000e+00 1.0000e+00 2.0090e+03 0.0000e+00 1.7900e+01 3.5200e+01
  0.0000e+00 1.2000e+01 1.2300e+01 0.0000e+00 4.8000e+01 0.0000e+00
  0.0000e+00 6.0000e+00 2.0000e+01 2.0000e+01 1.3000e+01 1.0063e+03
  1.0044e+03 2.0000e+00 5.0000e+00 2.6600e+01 3.3400e+01 0.0000e+00]
 [2.0000e+00 1.0000e+00 2.0090e+03 0.0000e+00 1.8400e+01 2.8900e+01
  0.0000e+00 1.4800e+01 1.3000e+01 1.0000e+00 3.7000e+01 1.0000e+00
  1.0000e+00 1.9000e+01 1.9000e+01 3.0000e+01 8.0000e+00 1.0129e+03
  1.0121e+03 1.0000e+00 1.0000e+00 2.0300e+01 2.7000e+01 0.0000e+00]
 [4.0000e+00 1.0000e+00 2.0090e+03 0.0000e+00 1.9400e+01 3.7600e+01
  0.0000e+00 1.0800e+01 1.0600e+01 2.0000e+00 4.6000e+01 2.0000e+00
  2.0000e+00 3.0000e+01 1.5000e+01 4.2000e+01 2.2000e+01 1.0123e+03
  1.0092e+03 1.0000e+00 6.0000e+00 2.8700e+01 3.4900e+01 0.0000e+00]
 [5.0000e+00 1.0000e+00 2.0090e+03 0.0000e+00 2.1900e+01 3.8400e+01
  0.0000e+00 1.1400e+01 1.2200e+01 3.0000e+00 3.1000e+01 3.0000e+00
  3.0000e+00 6.0000e+00 6.0000e+00 3.7000e+01 2.2000e+01 1.0127e+03
  1.0091e+03 1.0000e+00 5.0000e+00 2.9100e+01 3.5600e+01 0.0000e+00]
 [6.0000e+00 1.0000e+00 2.0090e+03 0.0000e+00 2.4200e+01 4.1000e+01
  0.0000e+00 1.1200e+01 8.4000e+00 3.0000e+00 3.5000e+01 4.0000e+00
  4.0000e+00 1.7000e+01 1.3000e+01 1.9000e+01 1.5000e+01 1.0107e+03
  1.0074e+03 1.0000e+00 6.0000e+00 3.3600e+01 3.7600e+01 0.0000e+00]
 [7.0000e+00 1.0000e+00 2.0090e+03 0.0000e+00 2.7100e+01 3.6100e+01
  0.0000e+00 1.3000e+01 0.0000e+00 4.0000e+00 4.3000e+01 5.0000e+00
  4.0000e+00 7.0000e+00 2.0000e+01 2.6000e+01 1.9000e+01 1.0077e+03
  1.0074e+03 8.0000e+00 8.0000e+00 3.0700e+01 3.4300e+01 0.0000e+00]]

## Dividindo para terinamento e teste

In [134]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Tratando os dados para o treinamento

In [135]:
# Normalização 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [136]:
print(X_test[0:6,:])

[[-0.99774357  1.03946794 -0.90767332  0.74871371 -2.00598891 -1.17641005
  -0.30480098  0.08308324  0.60447807  0.83316371 -0.44061749  0.5759566
  -0.96826418  0.39856964  0.02310031 -0.58794917 -0.42723115  1.56997191
   1.68667341 -1.15670615 -0.4984601  -1.3082613  -1.02324863 -0.53112203]
 [ 0.59783005  1.3298255   1.54224404 -1.32686027  0.9732028   0.60103297
  -0.30480098  0.51615759 -0.46042709  0.15510747 -0.44061749  0.79445027
  -0.32258625 -0.5626828  -0.3289104   0.0596692   0.71181199  0.16565441
   0.04220215  0.62933127  0.256675    0.97392023  0.40947993 -0.53112203]
 [-0.99774357 -1.57375003 -0.49935376  1.4405717   1.53472585  2.04878898
   0.38050896  1.32817199  0.60447807 -1.42702377  1.20619954 -0.51651176
   0.10786571  0.99935242 -1.26760565 -1.07366294 -1.12056175 -2.2955206
  -2.57730959  0.27212379  0.63424255  1.78029103  2.22232014  1.88280648]
 [ 0.82576914 -0.41231982  1.9505636   0.05685572 -0.41500695 -0.64604399
  -0.30480098 -0.07931965 -0.77989864  1.05918246 -0.44061749 -0.51651176
  -0.10736027 -0.5626828  -0.79825803  0.32951018  0.31562307  0.09326691
  -0.13243197  0.98653876 -1.25359521 -0.53231958 -0.49694018 -0.53112203]
 [-0.88377402 -0.41231982 -0.49935376 -1.18848867 -0.71136634 -0.34502541
  -0.30480098 -1.05373693  0.6311007   0.83316371 -0.29090685 -0.73500543
  -1.18349016 -0.32236969 -1.50227946 -0.26413998 -0.97199091 -0.45687809
  -0.62722863 -0.44229118 -0.4984601  -0.62360684 -0.32150403 -0.53112203]
 [ 1.28164731 -0.41231982 -1.31599288  0.88708531 -0.83614923 -0.975731
  -0.30480098 -1.16200552 -0.14095554  1.51121996 -0.74003877 -0.07952442
   0.10786571 -0.5626828  -1.26760565  1.19300134 -0.62532561  1.10669191
   1.11911253 -1.15670615 -0.4984601  -1.01918498 -0.84781248 -0.53112203]]

## Treinamento

In [137]:
import tensorflow as tf

### Construíndo a estrutura da rede

In [152]:
# Inicialização 
classifier = tf.keras.models.Sequential()

# Adicionando a camada de entrada e a primeira camada escondida  
classifier.add( tf.keras.layers.Dense( activation = 'relu', input_dim = 24, units = 26, kernel_initializer = 'uniform'))

# Adicionando a segunda camada escondida 
classifier.add( tf.keras.layers.Dense( activation = 'relu', units = 26, kernel_initializer = 'uniform' ))

# Adicionando a camada de saída 
classifier.add( tf.keras.layers.Dense( activation = 'sigmoid', units = 1, kernel_initializer = 'uniform'))

In [153]:
# Montando a Rede 
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Treinando

In [154]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 5, epochs = 10)

Epoch 1/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3663 - accuracy: 0.8381
Epoch 2/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3322 - accuracy: 0.8535
Epoch 3/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3244 - accuracy: 0.8588
Epoch 4/10
9028/9028 [==============================] - 12s 1ms/step - loss: 0.3287 - accuracy: 0.8546
Epoch 5/10
9028/9028 [==============================] - 12s 1ms/step - loss: 0.3237 - accuracy: 0.8567
Epoch 6/10
9028/9028 [==============================] - 12s 1ms/step - loss: 0.3242 - accuracy: 0.8580
Epoch 7/10
9028/9028 [==============================] - 12s 1ms/step - loss: 0.3253 - accuracy: 0.8580
Epoch 8/10
9028/9028 [==============================] - 12s 1ms/step - loss: 0.3192 - accuracy: 0.8604
Epoch 9/10
9028/9028 [==============================] - 12s 1ms/step - loss: 0.3202 - accuracy: 0.8619
Epoch 10/10
9028/9028 [==============================] - 12s 1ms/step - loss: 0.3149 - accuracy: 0.8616

## Avaliação do treinamento

In [155]:
# Testando a rede 
# Apresentando o conjunto de testes e usando o método predict 
y_pred = classifier.predict(X_test)
print(y_pred[0:10])

y_pred = (y_pred > 0.5)
print(y_pred[0:10])

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

[[0.002193  ]
 [0.38577113]
 [0.1552599 ]
 [0.32905483]
 [0.02400553]
 [0.00909367]
 [0.34874082]
 [0.00614169]
 [0.00587797]
 [0.1651851 ]]
[[False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]]

In [156]:
print("Matriz de Confusão:")
print(cm)
print("Taxa de acerto:")
print((cm[0,0]+cm[1,1])/len(y_test) )
print(len(y_test))

Matriz de Confusão:
[[8266  588]
 [ 973 1457]]
Taxa de acerto:
0.8616625310173698
11284

## Treinamento com 3 camadas escondidas

In [157]:
import tensorflow as tf

### Construíndo a estrutura da rede

In [158]:
# Inicialização 
classifier = tf.keras.models.Sequential()

# Adicionando a camada de entrada e a primeira camada escondida  
classifier.add( tf.keras.layers.Dense( activation = 'relu', input_dim = 24, units = 26, kernel_initializer = 'uniform'))

# Adicionando a segunda camada escondida 
classifier.add( tf.keras.layers.Dense( activation = 'relu', units = 26, kernel_initializer = 'uniform' ))

# Adicionando a terceira camada escondida 
classifier.add( tf.keras.layers.Dense( activation = 'relu', units = 26, kernel_initializer = 'uniform' ))

# Adicionando a camada de saída 
classifier.add( tf.keras.layers.Dense( activation = 'sigmoid', units = 1, kernel_initializer = 'uniform'))

In [159]:
# Montando a Rede 
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Treinando

In [160]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 5, epochs = 10)

Epoch 1/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3670 - accuracy: 0.8382
Epoch 2/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3353 - accuracy: 0.8533
Epoch 3/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3335 - accuracy: 0.8542
Epoch 4/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3295 - accuracy: 0.8561
Epoch 5/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3286 - accuracy: 0.8548
Epoch 6/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3291 - accuracy: 0.8566
Epoch 7/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3238 - accuracy: 0.8580
Epoch 8/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3233 - accuracy: 0.8583
Epoch 9/10
9028/9028 [==============================] - 14s 2ms/step - loss: 0.3173 - accuracy: 0.8622
Epoch 10/10
9028/9028 [==============================] - 13s 1ms/step - loss: 0.3240 - accuracy: 0.8588

## Avaliação do treinamento

In [161]:
# Testando a rede 
# Apresentando o conjunto de testes e usando o método predict 
y_pred = classifier.predict(X_test)
print(y_pred[0:10])

y_pred = (y_pred > 0.5)
print(y_pred[0:10])

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

[[0.0073154 ]
 [0.29296792]
 [0.2417095 ]
 [0.35841274]
 [0.07529622]
 [0.01278964]
 [0.30802655]
 [0.01770312]
 [0.01218089]
 [0.2241509 ]]
[[False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]]

In [162]:
print("Matriz de Confusão:")
print(cm)
print("Taxa de acerto:")
print((cm[0,0]+cm[1,1])/len(y_test) )
print(len(y_test))

Matriz de Confusão:
[[8482  372]
 [1165 1265]]
Taxa de acerto:
0.8637894363700815
11284

# Resultados
Obtivemos uma acurácia bem significativa com uma rede de 2 camadas escondidas obtendo uma taxa de acerto de aproximadamente 86,16%. Já utilizando uma rede com 3 camadas escondidas obtivemos uma taxa de acerto ligeiramente melhor de aproximadamente 86,37%. Com isso obtivemos uma bons resultados, vale salientar que pela grande quantidade de valores nulos, foi retirados várias ocorrências do dataset, o que pode provocar uma má aproximação, já que estamos utilizando datas, poderia ser feito uma analise mais minunciosa tentando interpolar esses valores faltantes, mas que ainda sim poderia causar um certo erro visto que alguns valores seguidos são vazios como os anos iniciais, o que provocaria também uma certa má interpolação.